.options-menu {
  position: relative;

  .btn-toggle{
    &:focus {
      outline: 0;
    }
  }

  .menu-list {
  	//Layout
  	margin-top: 0;
    position: absolute;
    top: $btn-dflt-size * 1.3;
    right: 0;
    z-index: $z-index-dropdown;
    display:none;

    //Theming
    border: 1px solid $color-gray-8;
    background-color: #ffffff;
    @include list-unstyled;
    padding: .75em;
    min-width: 10em;
		// -webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.4);
		// -moz-box-shadow:    0px 1px 1px 0px rgba(50, 50, 50, 0.4);
		box-shadow:         0px 1px 1px 0px rgba(50, 50, 50, 0.4);

    &.open{
      display:block;
		// this will not work as is - need to first show and then apply the animation on height/width
		//      		-webkit-transition: width 500ms ease; /* Firefox */
		// -moz-transition: width 500ms ease; /* WebKit */
		// -o-transition: width 500ms ease; /* Opera */
		// transition: width 500ms ease; /* Standard */ 	
    }
  }
}