@import "theme/variables";

// CORE
@import "core/normalize";
@import "core/mixins";
@import "core/helpers";

// THEME
@import "theme/mixins";
@import "theme/layout";
@import "theme/buttons";
@import "theme/lists";
@import "theme/forms";
@import "theme/text";
@import "theme/colors";

// COMPONENTS
@import "components/options_menu";

// MISC
.gray-pill {
	margin-top: 1em;
	border-radius: .25em;
	padding: .5em;
	background-color: $color-gray-8;
}

// --------------------------------
// APP FOOTER
// --------------------------------

.app-footer {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items:center;
  justify-content: center;


  // display: flex;
  // flex-direction: column;
  // align-items:center;
  // justify-content: center;
  height: 4em;
  // padding-bottom: 1em;
}
.footer-links {
  flex: 1 0 auto;
  
  margin-top: 1em;
  padding-bottom: 1em;
  ul {
  	padding-top: 1em;
  }
  // padding:1em;
  max-width:$app-min-width - 2em;
}
.gray-border-top {
	border-top: 1px solid  $color-gray-7;
}
