@import "theme/variables";

// CORE
@import "core/normalize";
@import "core/mixins";
@import "core/helpers";

// THEME
@import "theme/mixins";
@import "theme/layout";
@import "theme/buttons";
@import "theme/lists";
@import "theme/forms";
@import "theme/text";
@import "theme/colors";

// COMPONENTS
@import "components/options_menu";

// MISC
.gray-pill {
	margin-top: 1em;
	border-radius: .25em;
	padding: .5em;
	background-color: $color-gray-8;
}

.login-footer {
	border-top: 1px solid  $color-gray-7;
	margin-top: 1em;
	padding-top: 1em;
}